-e "venv/\n__pycache__/\n*.pyc\n*.sqlite3\n.env\n.DS_Store\n*.log\n*.pot\n*.py[cod]\n*.swp\n.Python\ndb.sqlite3\n/static/\n/media/\n*.pyo\n.idea/\n*.egg-info\nGDAL/" 
".env" 


#DATABASE
DB_NAME                 = "defaultdb"
DB_USER                 = "avnadmin"
DB_PASSWORD             = "AVNS_b_7vSc_Nlcrkly5qGvZ"
DB_HOST                 = "pg-3cf87064-best-home.h.aivencloud.com"
DB_PORT                 = "27889" 

GDAL_LIBRARY_PATH       = "C:\Users\Machhindranath\Downloads\gdal\bin\gdal.dll"

DATABASE_URL = 'postgres://avnadmin:AVNS_b_7vSc_Nlcrkly5qGvZ@pg-3cf87064-best-home.h.aivencloud.com:27889/defaultdb?sslmode=require'
