asgiref==3.8.1
dj-database-url==2.3.0
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
drf-yasg==1.21.10
GDAL==3.10.2
gunicorn==23.0.0
inflection==0.5.1
# numpy @ file:///D:/bld/numpy_1742254798705/work/dist/numpy-2.2.4-cp311-cp311-win_amd64.whl#sha256=74ccabf85c3fb995918f6fdfe798dadfb1e0e8680676dfbcd75da8078c12bad5
packaging==24.2
psycopg2 @ file:///D:/bld/psycopg2-split_1727892670188/work
psycopg2-binary==2.9.10
pygeos==0.14
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
uritemplate==4.1.1
whitenoise==6.9.0
